.card {
  background-color:#fafafa;
  min-height: 400px;
}
.to-from-titles {
  background-color: #c1f0ff;
}
.to-from-titles h1 {
  margin-left: 5%;
  padding-bottom: 4%;
  padding-top: 4%;
  margin-bottom: 0;
}

.currency-select {
  border-radius: 5px;
  height: 2em;
  font-size: 20pt;
}

option {
  font-size: 13pt;
}

.currency-to-from-label {
  font-size: 15pt;
}
#from-current-designation {
  margin-left: 5%;
}
#input-from {
  font-size: 1.5em;
  max-width: 70%;
}

#from-input-container {
  display: flex;
}


#convert {
  margin-top: 1em;
  width: 30%;
}

#convert:hover {
  background-color: #c1f0ff;
  color: black;
  transition: .25s;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 7px;
}